VITE_FIREBASE_API_KEY=your_firebase_api_key_here
VITE_FIREBASE_PROJECT_ID=omnistack-b8815
VITE_FIREBASE_APP_ID=1:528385490625:web:d9f3d0ba76aa6a94a15e40
VITE_FIREBASE_STORAGE_BUCKET=omnistack-b8815.firebasestorage.app
VITE_FIREBASE_AUTH_DOMAIN=omnistack-b8815.firebaseapp.com
VITE_FIREBASE_MESSAGING_SENDER_ID=528385490625
VITE_FIREBASE_MEASUREMENT_ID=G-8VC78MCKLE

NEXT_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key_here
NEXT_PUBLIC_FIREBASE_PROJECT_ID=omnistack-b8815
NEXT_PUBLIC_FIREBASE_APP_ID=1:528385490625:web:d9f3d0ba76aa6a94a15e40
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=omnistack-b8815.firebasestorage.app
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=omnistack-b8815.firebaseapp.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=528385490625
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-8VC78MCKLE
